
.wrapper {
    padding: 8rem 2rem;
}

.summary {
    font-size: 1rem;
}

.content p {
    font-size: 0.8rem;
}

.launch {
    background-color: #fff;
    border: 2px solid #000;
}

.launch a {
    color: #000;
    padding: 1rem;
}

.launch a:hover {
    color: #fff;
    text-decoration: none;
}

.launch:hover {
    background-color: #000;
}