
.jumbo {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets//home-hero.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumboContent {
    padding-top: 10vh;
}

.headline {
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
}

.name {
    font-family: 'Raleway', sans-serif;
    margin-top: 40vh;
    font-size: .8rem;
}

.icons li {
    list-style-type: none;
    display: inline;
    margin: 1rem;
}

.icons li a {
    color: #c67c00;
}