
.sColor {
    background-color: #fff;
    padding: 6rem 2rem;
}

.subtitle {
    font-family: 'Kanit', sans-serif;
    color: #000;
}

.subline {
    font-family: 'Raleway', sans-serif;
}

.line {
    border-top-color: #c67c00 !important;
}